<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>

    <script src="/layuiadmin/layui/layui.js"></script>
    <script src="/js/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
</head>
<body>

<table id="demo" lay-filter="test"></table>

<!--工具栏模板：-->

<script  type="text/html" id="toolbar">
    <div >
        <a class="layui-btn layui-btn-xs" lay-event="edit">修改信息</a>
<!--        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">注销账号</a>-->
    </div>

    <!--    用户信息修改弹窗-->
    <div class="layui-form"  style="display: none;margin-top: 20px"  id="userEdit">
        <div class="layui-form-item" hidden="hidden">
            <label class="layui-form-label">ID</label>
            <div class="layui-input-inline">
                <input type="text" name="id" id="edit_id" readonly autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">昵称</label>
            <div class="layui-input-inline">
                <input type="text" name="username" id="edit_username"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"  >手机号</label>
            <div class="layui-input-inline">
                <input type="text" name="phoneNumber" id="edit_phoneNumber"    autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >邮箱</label>
            <div class="layui-input-inline">
                <input type="text" name="email"  id="edit_email"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >密码</label>
            <div class="layui-input-inline">
                <input type="text" name="password" id="edit_password"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="editSubmit" >提交</button>
                <button  class="layui-btn" type="button" id="editCancel">取消</button>
            </div>
        </div>
    </div>
</script>
<span id="currentUser" hidden  th:text="${session.currentUser==null}?'未登录':${session.currentUser.id}"></span>

<script>


    layui.use('table', function(){
        var table = layui.table;
        var $ = layui.$;
        var form = layui.form;
        var userId = $("#currentUser").text()
        var id = $("#currentUser").text()

        $(document).on("click","#editCancel",function(){
            layer.closeAll()
        });
        $(document).on("click","#addCancel",function(){
            layer.closeAll()
        });
        //第一个实例
        table.render({
            elem: '#demo'
            ,height: 'full-20'
            ,url: '/user/myInfoList/?userId='+userId+'&'
            ,page: true //开启分页
            ,toolbar: '#toolbarDemo'
            ,done: function (res, curr, count) {
                $("table").css("width", "100%");
            }
            ,cols: [
                [
                    //表头
                    {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                    ,{field: 'username', title: '昵称', width:100}
                    ,{field: 'phoneNumber', title: '手机号', width: 180}
                    ,{field: 'email', title: '邮箱', width:100}
                    ,{field: 'password', title: '密码', width:180}
                    ,{title: '操作', width: 150, align:'center', fixed: 'right', toolbar: '#toolbar'}
                ]
            ]
        });
        //触发事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            switch(obj.event){
                case 'edit':
                    // layer.msg('编辑');
                    userEdit(data)
                    break;
                // case 'del':
                //     // layer.msg('删除');
                //     productDel(data)
                //     break;
            };
        });

        /**
         * 根据id编辑用户信息
         */
        form.on('submit(editSubmit)',function (res) {//这个res取不到值，why?
            var id = $("#edit_id").val()
            var username = $("#edit_username").val()
            var phoneNumber = $("#edit_phoneNumber").val()
            var email = $("#edit_email").val()
            var password = $("#edit_password").val()

            if (username === 'admin'){
                // document.getElementById('edit_username').value='该用户名已被占用!';
                $("#edit_username").empty().val('用户名非法，请重新输入！').css('color','red')
                document.getElementById("edit_username").focus();
                return false;
            }

            var user = {
                id:id,
                username:username,
                phoneNumber:phoneNumber,
                email:email,
                password:password
            }
            console.log(user)
            // alert(id+category+product+price+stock)
            $.ajax({
                url:"/user/editMyInfo",
                type:'post',
                data:user,
                dataType:'json',
                success:function(res){
                    if (res.data.affectRow > 0){//修改成功
                        layer.msg('修改成功', {
                            icon: 1,
                            time: 1000 //1秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            //do something
                            layer.closeAll()
                            table.reload('demo',{
                                url:'/user/myInfoList',
                                where:{
                                    userId:id
                                }
                            })
                        });
                    }else {//修改失败
                        layer.msg('修改失败', {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            //do something
                            layer.closeAll()
                        });

                    }
                }
            })
        })
        function userEdit(data) {
            // $("#edit_id").val(data.id)
            // $("#edit_category").val(data.category)
            // $("#edit_product").val(data.name)
            // $("#edit_price").val(data.price)
            // $("#edit_stock").val(data.stock)
            layer.open({
                type:1,
                area:['500px','400px'],
                content:$("#userEdit"),
                success:function () {
                    $("#edit_id").val(data.id)
                    $("#edit_username").val(data.username)
                    $("#edit_email").val(data.email)
                    $("#edit_phoneNumber").val(data.phoneNumber)
                    $("#edit_password").val(data.password)
                }
            })
        }

        // function productDel(data) {
        //     layer.confirm('是否确认删除'+data.name+'?',{title:'提示'},function () {
        //         var id = data.id
        //         $.ajax({
        //             type:'get',
        //             url:'/product/delById',
        //             data:{id:id},
        //             success:function (res) {
        //                 layer.closeAll()
        //                 layer.msg('成功删除'+res.data.affectRow+'条数据',{timeline:1000})
        //                 table.reload('demo',{
        //                     url:'/product/list',
        //                     where:{
        //                         pageNo:1,
        //                         pageSize:10
        //                     }
        //                 })
        //             }
        //         })
        //     },function () {
        //         layer.msg('取消删除');
        //     });
        // }


        /**
         * 批量删除商品
         */
        function deletes() {
            var checkStatus = table.checkStatus('demo'); //idTest 即为基础参数 id 对应的值
            var data = checkStatus.data;
            var ids = [];//id数组
            for(var i=0;i<checkStatus.data.length;i++){
                ids.push(checkStatus.data[i].id);
            }
            if (data.length == 0){
                layer.msg('请至少选择一条！',{timeline:1000});
            }else{
                layer.confirm("是否确认删除"+data.length+"条数据？",{title:'提示'},function () {
                    // layer.msg('确认删除');
                    $.ajax({
                        type:'post',
                        url:'/product/delByIds',
                        data:{ids:ids},
                        success:function (res) {
                            // console.info(res)
                            layer.closeAll()
                            layer.msg('成功删除'+res.data.affectRow+'条数据',{timeline:1000})
                            table.reload('demo',{
                                url:'/product/list',
                                where:{
                                    pageNo:1,
                                    pageSize:10
                                }
                            })
                        }
                    })
                },function () {
                    // layer.msg('取消删除');
                });
            }


            console.log(checkStatus.data) //获取选中行的数据
            console.log(checkStatus.data.length) //获取选中行数量，可作为是否有选中行的条件
            console.log(checkStatus.isAll ) //表格是否全选
        }


    });
</script>
</body>
</html>