<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>

    <script src="/layuiadmin/layui/layui.js"></script>
    <script src="/js/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
</head>
<body>

<table id="demo" lay-filter="test"></table>

<!--工具栏模板：-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm lay-btn--danger" lay-event="deletes">批量删除</button>
        <button class="layui-btn layui-btn-sm lay-btn--danger" lay-event="payments">批量结算</button>

    </div>
</script>

<script  type="text/html" id="toolbar">
    <div >
        <a class="layui-btn layui-btn-xs" lay-event="payment">结算</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </div>

    <!--    添加商品-->
    <div class="layui-form"  style="display: none;margin-top: 20px"  id="productAdd">
        <div class="layui-form-item">
            <label class="layui-form-label">分类</label>
            <div class="layui-input-inline">
                <input type="text"  name="category" id="add_category" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"  >商品名</label>
            <div class="layui-input-inline">
                <input type="text"  name="product" id="add_product"    autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >价格</label>
            <div class="layui-input-inline">
                <input type="text" name="price"  id="add_price"   autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >库存</label>
            <div class="layui-input-inline">
                <input type="text" name="stock" id="add_stock"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="addSubmit" >提交</button>
                <button  class="layui-btn" type="button" id="addCancel">取消</button>
            </div>
        </div>
    </div>
    <!--    商品信息修改弹窗-->
    <div class="layui-form"  style="display: none;margin-top: 20px"  id="productEdit">
        <div class="layui-form-item">
            <label class="layui-form-label">ID</label>
            <div class="layui-input-inline">
                <input type="text" name="id" id="edit_id" readonly autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分类</label>
            <div class="layui-input-inline">
                <input type="text" name="category" id="edit_category"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"  >商品名</label>
            <div class="layui-input-inline">
                <input type="text" name="product" id="edit_product"    autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >价格</label>
            <div class="layui-input-inline">
                <input type="text" name="price"  id="edit_price"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" >库存</label>
            <div class="layui-input-inline">
                <input type="text" name="stock" id="edit_stock"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="editSubmit" >提交</button>
                <button  class="layui-btn" type="button" id="editCancel">取消</button>
            </div>
        </div>
    </div>
</script>
<span id="currentUser" hidden  th:text="${session.currentUser==null}?'未登录':${session.currentUser.id}"></span>

<script>


    layui.use('table', function(){
        var table = layui.table;
        var $ = layui.$;
        var form = layui.form;
        var userId = $("#currentUser").text()

        $(document).on("click","#editCancel",function(){
            layer.closeAll()
        });
        $(document).on("click","#addCancel",function(){
            layer.closeAll()
        });
        //第一个实例
        table.render({
            elem: '#demo'
            ,height: 'full-20'
            ,url: '/cart/myCartList/?userId='+userId+'&'
            ,page: true //开启分页
            ,toolbar: '#toolbarDemo'
            ,done: function (res, curr, count) {
                $("table").css("width", "100%");
            }
            ,cols: [
                [
                    //表头
                    {type: 'checkbox', fixed: 'left'}
                    ,{field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
                    ,{field: 'proId', title: '产品编号', width:100}
                    ,{field: 'category', title: '分类', width:100}
                    ,{field: 'name', title: '商品名', width:100}
                    ,{field: 'price', title: '价格', width: 180}
                    ,{field: 'quantity', title: '数量', width:100}
                    ,{title: '操作', width: 150, align:'center', fixed: 'right', toolbar: '#toolbar'}
                ]
            ]
        });
        //触发事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            switch(obj.event){
                case 'del':
                    // layer.msg('删除');
                    productDel(data)
                    break;
                case 'payment':
                    layer.msg('结算');
                    // payment();
                    break;
            };
        });
        //触发事件，头工具栏
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'payments':
                    layer.msg('批量结算');
                    payments();
                    break;
                case 'deletes':
                    layer.msg('批量删除');
                    deletes();
                    break;
            };
        });

        function productDel(data) {
            layer.confirm('是否确认删除'+data.name+'?',{title:'提示'},function () {
                var id = data.id
                $.ajax({
                    type:'get',
                    url:'/cart/delById',
                    data:{'id':id},
                    success:function (res) {
                        layer.closeAll()
                        layer.msg('成功删除'+res.data.affectRow+'条数据',{timeline:1000})
                        table.reload('demo',{
                            url:'/cart/myCartList/?userId='+userId+'&'
                        })
                    }
                })
            },function () {
                layer.msg('取消删除');
            });
        }


        /**
         * 批量结算商品
         */
        function payments() {
            var checkStatus = table.checkStatus('demo'); //idTest 即为基础参数 id 对应的值
            var data = checkStatus.data;
            var ids = [];//id数组
            for(var i=0;i<checkStatus.data.length;i++){
                ids.push(checkStatus.data[i].id);
            }
            if (data.length == 0){
                layer.msg('请至少选择一条！',{timeline:1000});
            }else{
                layer.msg('批量结算')
                // layer.confirm("是否确认删除"+data.length+"条数据？",{title:'提示'},function () {
                //     // layer.msg('确认删除');
                //     $.ajax({
                //         type:'post',
                //         url:'/product/delByIds',
                //         data:{ids:ids},
                //         success:function (res) {
                //             // console.info(res)
                //             layer.closeAll()
                //             layer.msg('成功删除'+res.data.affectRow+'条数据',{timeline:1000})
                //             table.reload('demo',{
                //                 url:'/product/list',
                //                 where:{
                //                     pageNo:1,
                //                     pageSize:10
                //                 }
                //             })
                //         }
                //     })
                // },function () {
                //     // layer.msg('取消删除');
                // });
            }


            console.log(checkStatus.data) //获取选中行的数据
            console.log(checkStatus.data.length) //获取选中行数量，可作为是否有选中行的条件
            console.log(checkStatus.isAll ) //表格是否全选
        }

        /**
         * 批量删除商品
         */
        function deletes() {
            var checkStatus = table.checkStatus('demo'); //idTest 即为基础参数 id 对应的值
            var data = checkStatus.data;
            var ids = [];//id数组
            for(var i=0;i<checkStatus.data.length;i++){
                ids.push(checkStatus.data[i].id);
            }
            console.log(ids)
            if (data.length == 0){
                layer.msg('请至少选择一条！',{timeline:1000});
            }else{
                layer.confirm("是否确认删除"+data.length+"条数据？",{title:'提示'},function () {
                    // layer.msg('确认删除');
                    $.ajax({
                        type:'post',
                        url:'/cart/deleteByIds',
                        data:{"ids":ids},
                        success:function (res) {
                            // console.info(res)
                            layer.closeAll()
                            layer.msg('成功删除'+res.data.affectRow+'条数据',{timeline:1000})
                            table.reload('demo',{
                                url:'/cart/myCartList/?userId='+userId+'&'
                            })
                        }
                    })
                },function () {
                    // layer.msg('取消删除');
                });
            }


            console.log(checkStatus.data) //获取选中行的数据
            console.log(checkStatus.data.length) //获取选中行数量，可作为是否有选中行的条件
            console.log(checkStatus.isAll ) //表格是否全选
        }


    });
</script>
</body>
</html>