﻿<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<!-- Latest Bootstrap min CSS -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
<!-- Dropdownhover CSS -->
<link rel="stylesheet" href="/assets/css/bootstrap-dropdownhover.min.css" type="text/css">
<!-- latest fonts awesome -->
<link rel="stylesheet" href="/assets/font/css/font-awesome.min.css" type="text/css">
<!-- simple line fonts awesome -->
<link rel="stylesheet" href="/assets/simple-line-icon/css/simple-line-icons.css" type="text/css">
<!-- stroke-gap-icons -->
<link rel="stylesheet" href="/assets/stroke-gap-icons/stroke-gap-icons.css" type="text/css">
<!-- Animate CSS -->
<link rel="stylesheet" href="/assets/css/animate.min.css" type="text/css">
<!-- Style CSS -->
<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
<!--  baguetteBox -->
<link rel="stylesheet" href="/assets/css/baguetteBox.css">
<!-- Owl Carousel Assets -->
<link href="/assets/owl-carousel/owl.carousel.css" rel="stylesheet">
<link href="/assets/owl-carousel/owl.theme.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
	<script src="/js/jquery-3.4.1.js"></script>
</head>

<body>
<!--  Preloader  -->
<div id="preloader">
	<div id="loading">
	</div>
</div>
<header>
	<!--  top-header  -->
	<div class="top-header">
		<div class="container">

			<div class="col-md-6">
				<div class="top-header-left">
					<ul>
						<li>
							<div class="dropdown">
								<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
								   <img src="" alt=""> Chinese <i class="fa fa-angle-down" aria-hidden="true"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#">Chinese</a></li>
									<li><a href="#">English</a></li>
								</ul>
							</div>
						</li>
						<li>
							<div class="dropdown">
								<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
									USD <i class="fa fa-angle-down" aria-hidden="true"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#">RMB</a></li>
									<li><a href="#">USD</a></li>
								</ul>
							</div>
						</li>
						<li>

							<span th:text="${session.currentUser==null}?'未登录':${session.currentUser.username}+',你好'">，你好</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="top-header-right">
					<ul>
						<li>
							<a href="/login"> 登录</a>

						</li>
						<li>
							<a href="/login"> 注册</a>
						</li>
						<li>
							<div class="dropdown">
								<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
									<i class="icon-settings icons" aria-hidden="true"></i> 设置
								</a>
								<ul class="dropdown-menu">
									<li><a href="/user/myInfo" >个人信息</a></li>
									<li><a href="/user/myInfo">密码修改</a></li>
									<li><a href="/user/myInfo" >收货地址管理</a></li>
									<li><a href="/manage" >后台管理</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--  /top-header  -->
	</div>

	<section class="top-md-menu">
		<div class="container">
			<div class="col-sm-3">
				<div class="logo">
					<h6><img src="/assets/images/logo.png" alt="logo" /></h6>
				</div>
			</div>
			<div class="col-sm-6">
				<!-- Search box Start -->
				<form>
					<div class="well carousel-search hidden-phone">
						<div class="btn-group">
							<a class="btn dropdown-toggle btn-select" data-toggle="dropdown" href="#">所有分类 <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">智能手机</a></li>
								<li><a href="#">笔记本电脑</a></li>
								<li><a href="#">智能手表</a></li>
								<li class="divider"></li>
								<li><a href="#">其他</a></li>
							</ul>
						</div>
						<div class="search">
							<input type="text" placeholder="发现商品" />
						</div>
						<div class="btn-group">
							<button type="button" id="btnSearch" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
						</div>
					</div>
				</form>
				<!-- Search box End -->
			</div>
			<div class="col-sm-3">
				<!-- cart-menu -->
				<div class="cart-menu">
					<ul>
						<li><a href="#"><i class="icon-heart icons" aria-hidden="true"></i></a><span class="subno">1</span><strong>订单记录</strong></li>
						<li class="dropdown">
							<a href="#" data-toggle="dropdown" data-hover="dropdown"><i class="icon-basket-loaded icons" aria-hidden="true"></i></a><span class="subno">2</span><strong>购物车</strong>
							<div class="dropdown-menu  cart-outer">
								<div class="cart-content">
									<div class="col-sm-4 col-md-4"><img src="/assets/images/elec-img4.jpg" alt="13"></div>
									<div class="col-sm-8 col-md-8">
										<div class="pro-text">
											<a href="#">Apple Macbook Retina 23’’ </a>
											<div class="close">x</div>
											<strong>1 × $290.00</strong>
										</div>
									</div>
								</div>
								<div class="cart-content">
									<div class="col-sm-4 col-md-4"><img src="/assets/images/elec-img3.jpg" alt="13"></div>
									<div class="col-sm-8 col-md-8">
										<div class="pro-text">
											<a href="#">Apple Macbook Retina 23’’ </a>
						d					<div class="close">x</div>
											<strong>1 × $290.00</strong>
										</div>
									</div>
								</div>
								<div class="total">
									<div class="col-md-6 text-left">
										<span>Shipping :</span>
										<strong>Total :</strong>
									</div>
									<div class="col-md-6 text-right">
										<strong>$0.00</strong>
										<strong>$160.00</strong>
									</div>
								</div>
								<a href="shopping-cart.html" class="cart-btn">VIEW CART </a> <a href="checkout.html" class="cart-btn">CHECKOUT</a>
							</div>
						</li>
					</ul>
				</div>
				<!-- cart-menu End -->
			</div>
			<div class="main-menu">
				<!--  nav  -->
				<nav class="navbar navbar-inverse navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations=" fadeInLeft fadeInUp fadeInRight">
						<ul class="nav navbar-nav">
							<li class="all-departments dropdown">
								<a href="index.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span>商 品 分 类</span> <i class="fa fa-bars" aria-hidden="true"></i> </a>
								<ul class="dropdown-menu dropdownhover-bottom all-open" role="menu">
									<li class="dropdown">
										<a href="index.html"><img src="/assets/images/menu-icon1.png" alt="menu-icon1" />平板电脑<i class="fa fa-angle-right" aria-hidden="true"></i></a>
										<ul class="dropdown-menu right">
											<li><a href="grid.html">Electronic 01</a></li>
											<li><a href="list.html">Electronic 02</a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a href="#"><img src="/assets/images/menu-icon2.png" alt="menu-icon2" />  智能手机<i class="fa fa-angle-right" aria-hidden="true"></i></a>
										<ul class="dropdown-menu right">
											<li><a href="grid.html">Iphone 05</a></li>
											<li><a href="list.html">Iphone 06</a></li>
											<li><a href="grid.html">Iphone 07</a></li>
											<li><a href="list.html">Handfree</a></li>
											<li><a href="grid.html">Bettery</a></li>
										</ul>
									</li>
									<li>
										<a href="#"><img src="/assets/images/menu-icon3.png" alt="menu-icon3" /> 笔记本电脑 <sup class="bg-red">hot!</sup></a>
									</li>
									<li class="dropdown">
										<a href="#"><img src="/assets/images/menu-icon4.png" alt="menu-icon4" /> 电子手表 <i class="fa fa-angle-right" aria-hidden="true"></i></a>
										<div class="dropdown-menu dropdownhover-bottom mega-menu" role="menu">

									<div class="col-sm-8 col-md-8">
										<ul>
											<li><strong>Women’s Fashion</strong></li>
											<li><a href="#">Flip-Flops</a></li>
											<li><a href="#">Fashion Scarves</a></li>
											<li><a href="#">Wallets</a></li>
											<li><a href="#">Evening Handbags</a></li>
											<li><a href="#">Wrist Watches</a></li>
										</ul>
										<ul>
											<li><strong>Women’s Accessories</strong></li>
											<li><a href="#">Flip-Flops</a></li>
											<li><a href="#">Fashion Scarves</a></li>
											<li><a href="#">Wallets</a></li>
											<li><a href="#">Evening Handbags</a></li>
											<li><a href="#">Wrist Watches</a></li>
										</ul>
										<ul>
											<li><strong>Men’s Fashion</strong></li>
											<li><a href="#">Flip-Flops</a></li>
											<li><a href="#">Fashion Scarves</a></li>
											<li><a href="#">Wallets</a></li>
											<li><a href="#">Evening Handbags</a></li>
											<li><a href="#">Wrist Watches</a></li>
										</ul>
										<ul>
											<li><strong>Men’s Accessories</strong></li>
											<li><a href="#">Flip-Flops</a></li>
											<li><a href="#">Fashion Scarves</a></li>
											<li><a href="#">Wallets</a></li>
											<li><a href="#">Evening Handbags</a></li>
											<li><a href="#">Wrist Watches</a></li>
										</ul>
									</div>

								</div>
									</li>
									<li class="dropdown">
										<a href="#"><img src="/assets/images/menu-icon5.png" alt="menu-icon2" /> 户外运动 <i class="fa fa-angle-right" aria-hidden="true"></i></a>
										<ul class="dropdown-menu right">
											<li><a href="grid.html">Sport 05</a></li>
											<li><a href="list.html">Sport 06</a></li>
											<li><a href="list.html">Outdoors 02</a></li>
											<li><a href="grid.html">Outdoors 01</a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a href="#"><img src="/assets/images/menu-icon6.png" alt="menu-icon2" /> 扫地机器人 <i class="fa fa-angle-right" aria-hidden="true"></i></a>
										<ul class="dropdown-menu right">
											<li><a href="grid.html">Jewelry 05</a></li>
											<li><a href="grid.html">Watches 07</a></li>
											<li><a href="list.html">Watches 02</a></li>
										</ul>
									</li>
									<li>
										<a href="#"><img src="/assets/images/menu-icon7.png" alt="menu-icon2" /> 空调 <sup class="bg-blue">NEW</sup></a>
									</li>
									<li class="dropdown">
										<a href="#"><img src="/assets/images/menu-icon8.png" alt="menu-icon2" /> 冰箱 <i class="fa fa-angle-right" aria-hidden="true"></i></a>
										<ul class="dropdown-menu right">
											<li><a href="grid.html">Toys 05</a></li>
											<li><a href="list.html">Hobbies 02</a></li>
											<li><a href="grid.html">Toys 01</a></li>
										</ul>
									</li>
									<li class="dropdown">
										<a href="#"><img src="/assets/images/menu-icon9.png" alt="menu-icon2" /> 书籍 <i class="fa fa-angle-right" aria-hidden="true"></i></a>
										<ul class="dropdown-menu right">
											<li><a href="grid.html">Book 05</a></li>
											<li><a href="list.html">Book 06</a></li>
											<li><a href="list.html">Office 02</a></li>
											<li><a href="grid.html">Office 01</a></li>
										</ul>
									</li>
									<li>
										<a href="#"><img src="/assets/images/menu-icon10.png" alt="menu-icon2" /> 数码相机</a>
									</li>
									<li>
										<a href="#"><img src="/assets/images/menu-icon11.png" alt="menu-icon2" />全部分类</a>
									</li>
								</ul>
							</li>
							<li><a href="#">Home</a></li>
							<li><a href="#">List</a></li>
							<li><a href="#">Grid</a></li>
							<li><a href="#">Shop-detail</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Shopping-cart</a></li>
							<li><a href="#">Checkout</a></li>
						</ul>
						<!-- /.navbar-collapse -->
					</div>
				</nav>
				<!-- /nav end -->
			</div>
		</div>
	</section>
	<!-- header-outer -->
	<section class="header-outer">
		<!-- header-slider -->
			<div class="header-slider">
					<div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
						<!-- .home-slider -->
						<div class="carousel-inner">
							<div class="item active" style="background-image: url(/assets/images/home-header1.jpg);  background-repeat: no-repeat; background-position: top;">
								<div class="container">
									<div class="caption">
									<div class="caption-outer">
										<div class="col-xs-12 col-sm-12 col-md-4">
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6">
											<h3>samsung galaxy ON NXT</h3>
											<h2 class="animated wow slideInUp" data-wow-delay="0ms" data-wow-duration="1500ms">New Arrivals</h2>
											<h4>Only from $520 </h4>
											<p class="animated wow fadeInRight">iPhone 7 dramatically improves the most important aspects of the iPhone experience.</p>
											<a data-scroll class="btn get-start animated fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms" href="#">BUY NOW</a>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-2">
											<div class="save-price animated wow slideInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
												<span class="save-text">From</span>
												<span class="saveprice-no"><sup>$</sup>520</span>
											</div>
										</div>
									</div>
								</div>
								</div>

							</div>
							<div class="item" style="background-image: url(/assets/images/home-header2.jpg);  background-repeat: no-repeat; background-position: top;">
								<div class="container">
									<div class="caption">
									<div class="caption-outer">
										<div class="col-xs-12 col-sm-12 col-md-4">
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6">
											<h3>new collection</h3>
											<h2 class="animated wow slideInUp" data-wow-delay="0ms" data-wow-duration="1500ms">Phantom</h2>
											<h4>Only from $920 </h4>
											<p class="animated wow fadeInRight">iPhone 7 dramatically improves the most important aspects of the iPhone experience.</p>
											<a data-scroll class="btn get-start animated fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms" href="#">BUY NOW</a>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-2">
											<div class="save-price animated wow slideInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
												<span class="save-text">From</span>
												<span class="saveprice-no"><sup>$</sup>520</span>
											</div>
										</div>
									</div>
								</div>
								</div>
							</div>
							<div class="item" style="background-image: url(/assets/images/home-header3.jpg);  background-repeat: no-repeat; background-position: top;">
								<div class="container">
									<div class="caption">
									<div class="caption-outer">
										<div class="col-xs-12 col-sm-12 col-md-4">
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6">
											<h3>Divoom brands</h3>
											<h2 class="animated wow slideInUp" data-wow-delay="0ms" data-wow-duration="1500ms">Voombox 2.0</h2>
											<h4>Only from $69 </h4>
											<p class="animated wow fadeInRight">iPhone 7 dramatically improves the most important aspects of the iPhone experience.</p>
											<a data-scroll class="btn get-start animated fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms" href="#">BUY NOW</a>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-2">
											<div class="save-price animated wow slideInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
												<span class="save-text">From</span>
												<span class="saveprice-no"><sup>$</sup>520</span>
											</div>
										</div>
									</div>
								</div>
								</div>
							</div>
						</div>
						<!-- indicators -->
						<ol class="carousel-indicators">
							<li data-target="#home-slider" data-slide-to="0" class="active"></li>
							<li data-target="#home-slider" data-slide-to="1"></li>
							<li data-target="#home-slider" data-slide-to="2"></li>
						</ol>
						<!-- /indicators -->
						<!-- /.home-slider -->
					</div>
			</div>
			<!-- /header-slider end -->
	</section>
	<!-- /header-outer -->
</header>
<!-- banner -->


<script>
	/**
	 * 商品详情页面
	 * 向后端传参当前点击的商品id，返回json数据，再window.location页面到详情页
	 */
	$(function () {

		$("#product1").on("click",function () {
			var pro_id = $('#pro1_id').text();
			alert('id='+pro_id)
			console.log('id='+pro_id)
			$.ajax({
				type:'get',
				url:'/shopDetail',
				data:{"userId":name,"productId":pswd},
				success:function (res) {
					console.log("成功回调函数"+res);
					window.location.href='/shopDetail'//进入详情页面
				}
			})
		})
	})

	/**
	 * 异步获取所有商品，前台展示
	 */
	var arr = [];//存放商品列表
	window.onload=function () {
		$.ajax({
			type:'get',
			url:'/product/list',
			success:function (res) {
				$.each(res.data,function (i,val) {
					// console.log(val.category);
					arr.push(val)
				})
				for(var i=0;i<10;i++){
					$("#pro"+i+"_id").html(arr[i].id)
					$("#pro_category"+i).html(arr[i].category).css('font-size','18px')
					$("#pro_name"+i).html(arr[i].name).css('font-size','22px')
														.css('white-space','nowrap')
														.css('word-break','break-all')
														.css('overflow','hidden')
					$("#pro_price"+i).html('Price:'+arr[i].price).css('font-size','18px')
				}
				console.log(arr);

			}
		})
	}
</script>

<style>
	#table_wrap > table {
		font-size: 16px;
		text-align: center;
		margin: 0 auto;
		border-collapse: separate;
		border-spacing: 0;
		border: 2px #000;
	}

	table thead tr,table tbody tr {
		height: 50px;
		line-height: 50px;
		/*background-color: pink;*/
	}
	table tr th:first-child,table tr td:first-child {/*设置table左边边框*/
		border-left: 2px solid #eaeaea;
	}
	table tr th:last-child,table tr td:last-child {/*设置table右边边框*/
		border-right: 2px solid #eaeaea;
	}
	table tr td:first-child,
	table tr td:nth-child(2),
	table tr td:nth-child(3),
	table tr td:last-child{/*设置table表格每列底部边框*/
		border-bottom: 2px solid #eaeaea;
	}

	table tr:first-child th:first-child {
		border-top-left-radius: 30px;
	}

	table tr:first-child th:last-child {
		border-top-right-radius: 30px;
	}
	table tr:last-child td:first-child {
		border-bottom-left-radius: 30px;
	}

	table tr:last-child td:last-child {
		border-bottom-right-radius: 30px;
	}

</style>
<div id="table_wrap">
<table class="table pro-text text-center" style="width: 70%;margin: 0 auto" align="center">
	<thead>
	<td width="100px">编号</td>
	<td width="100px">名称</td>
	<td width="100px">价格</td>
	<td width="100px">库存</td>
	<td width="100px">操作</td>
	</thead>
	<tr th:each="p,status:${list}" class="item" style="height: 50px;background: #eff1f5;border: 0;margin-top: 5px;padding-top: 5px">
			<td id="proId" th:text="${p.id}">100</td>
			<td th:text="${p.name}">苹果笔记本</td>
			<td th:text="'￥'+${p.price}" style="color: red;font-size: 18px">9999</td>
			<td th:text="${p.stock}">9999</td>
			<td ><a class="add-btn" onclick="f()" href="#" th:href="@{../cart/addToCart(proId=${p.id})}">加入购物车</a></td>
	</tr>
</table>
</div>
<script>
	function f() {
		window.location('/user/myInfo')
	}

</script>



<aside id="sticky-social">
	<ul>
		<li><a href="#" class="fa fa-facebook" target="_blank"><span><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</span></a></li>
		<li><a href="#" class="fa fa-twitter" target="_blank"><span><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</span></a></li>
		<li><a href="#" class="fa fa-rss" target="_blank"><span><i class="fa fa-rss" aria-hidden="true"></i> RSS</span></a></li>
		<li><a href="#" class="fa fa-pinterest-p" target="_blank"><span><i class="fa fa-pinterest-p" aria-hidden="true"></i> Pinterest</span></a></li>
		<li><a href="#" class="fa fa-share-alt" target="_blank"><span><i class="fa fa-share-alt" aria-hidden="true"></i> Flickr</span></a></li>
	</ul>
</aside>

<p id="back-top">
	<a href="#top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
</p>
<script src="/assets/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/bootstrap-dropdownhover.min.js"></script>
<!-- Plugin JavaScript -->
<script src="/assets/js/jquery.easing.min.js"></script>
<script src="/assets/js/wow.min.js"></script>
<!-- owl carousel -->
<script src="/assets/owl-carousel/owl.carousel.js"></script>
<!--  Custom Theme JavaScript  -->
<script src="/assets/js/custom.js"></script>
</body>

</html>
