<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 网站用户</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">ID</label>
          <div class="layui-input-block">
            <input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">用户名</label>
          <div class="layui-input-block">
            <input type="text" name="username" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">邮箱</label>
          <div class="layui-input-block">
            <input type="text" name="email" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search">
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="layui-card-body">
      <div style="padding-bottom: 10px;">
        <button class="layui-btn layuiadmin-btn-useradmin" data-type="batchdel">删除</button>
        <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
      </div>

      <table id="LAY-user-manage" lay-filter="LAY-user-manage"></table>
      <script type="text/html" id="imgTpl">
        <img style="display: inline-block; width: 50%; height: 100%;" src= {{ d.avatar }}>
      </script>
      <script type="text/html" id="table-useradmin-webuser">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>

      </script>
    </div>
  </div>
</div>


<script src="/layuiadmin/layui/layui.js"></script>
<script>
  layui.config({
    base: '/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'useradmin', 'table'], function(){
    var $ = layui.$
            ,form = layui.form
            ,table = layui.table;

    //监听搜索
    form.on('submit(LAY-user-front-search)', function(data){
      var field = data.field;

      //执行重载
      table.reload('LAY-user-manage', {
        where: field
      });
    });

    //事件
    /**
     * 根据id批量删除用户
     */
    var active = {
      batchdel: function(){
        var checkStatus = table.checkStatus('LAY-user-manage')
                ,checkData = checkStatus.data; //得到选中的数据

        if(checkData.length === 0){
          return layer.msg('请选择数据');
        }
        layer.confirm('确定删除吗？', function(index) {
            layer.close(index);

            var ids = [];//id数组
          for(var i=0;i<checkStatus.data.length;i++){
            ids.push(checkStatus.data[i].id);
          }
          // alert(ids);

          $.ajax({
            type:'post',
            url:'/user/delByIds',
            data:{"ids":ids},
            success:function (res) {
              if (res.data.affectRow > 0){//删除成功
                layer.msg('成功删除'+res.data.affectRow+'条数据', {
                  icon: 1,
                  time: 2000 //2秒关闭（如果不配置，默认是3秒）
                }, function(){
                  //do something
                });
              }else {//删除失败

                layer.msg('删除失败', {
                  icon: 1,
                  time: 2000 //2秒关闭（如果不配置，默认是3秒）
                }, function(){
                  //do something
                });

              }
            }
          })
            table.reload('LAY-user-manage');
            layer.msg('已删除');
          }
        );
      }
      /**
       * 添加用户——弹出层
       */
      ,add: function(){
        layer.open({
          type: 2
          ,title: '添加用户'
          ,content: '/user/userForm'
          ,maxmin: true
          ,area: ['500px', '450px']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
            var iframeWindow = window['layui-layer-iframe'+ index]
                    ,submitID = 'LAY-user-front-submit'
                    ,submit = layero.find('iframe').contents().find('#'+ submitID);
            //监听提交
            iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
              var field = data.field; //获取提交的字段
              var username = field.username;
              var phone = field.phone;
              var password = field.password;
              var email = field.email;

              //提交 Ajax 成功后，静态更新表格中的数据
              //$.ajax({});
              $.ajax({
                type:'post',
                url:'/user/insertUser',
                data: {
                  "username":username,
                  "email":email,
                  "phoneNumber":phone,
                  "password":password,
                },
                success:function (res) {

                  if (res.data.affectRow > 0){
                    layer.msg('添加成功', {
                      icon: 1,
                      time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                      //do something
                    });
                  }else {
                    layer.msg('添加失败', {
                      icon: 1,
                      time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                      //do something
                    });

                  }
                }
              })

              table.reload('LAY-user-front-submit'); //数据刷新
              layer.close(index); //关闭弹层
            });

            submit.trigger('click');
          }
        });
      }
    };

    $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });
</script>
</body>
</html>
